.benefits-page {
  height: calc(100vh - 140px);

  display: flex;
  flex-direction: column;

  max-width: 900px;
  width: 100%;

  margin: 0 auto;

  padding: 1.5rem;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-items: center;

  margin-bottom: 2rem;
}

.chat-content {
  flex: 1;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chat-content::-webkit-scrollbar {
  display: none;
}

.chat-messages {
  display: flex;
  flex-direction: column;

  gap: 24px;

  width: 100%;
}
